.portfolio-form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 21px;
    padding: 42px;
  
    @include input-element();
     
    input{
       margin-bottom: 0px;    } 
//to override bottom margin that we gave inside of our mixin input-element
    
    .image-uploaders {
      @include base-grid();
      //display: grid;
      grid-template-columns: 200px 200px 200px;
      //grid-gap: 21px;
    }
      .portfolio-manager-image-wrapper {
        img {
          width: 100%;
          height: 120px;
          object-fit: cover;
          border-radius: 5px;;
        }

        .image-removal-link {
          display: flex;
          justify-content: center;

          // Option with TEXT "Remove file":
           a{
             font-weight: 600; // intead of 900 -> too thick
             color: $warning;
             cursor: pointer;
           }
          
          // Option with "delete-left" ICON:
           .action-icon{
               cursor: pointer;
               //color: $grey;
               color: $teal;
               font-size: 1.5em;
               transition: 0.5s ease-in-out;
      
               &:hover {
                 color: $warning;
               }
            }
          }
      }

  }