.DraftEditor-root {
    border: 1px solid #f1f1f1;
    padding: 20px;
   // height: 100px;
    border-radius: 3px;
}

// No NEED to adjust IMAGE icon cause it can be seen properly
// .rdw-image-modal {
//     left: -215px;
// }

.rdw-emoji-modal {
    left: -182px;
}

.rdw-embedded-modal {
    left: -136px;
}